@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background: #000;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(18px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.animate-scroll {
  animation: scroll 1.3s ease-in-out infinite;
}